<section>
<div>
<h2>Tomás Ariel Goldentul</h2>
</div>
<div>
<h2>Manuel Gartenkrot Casal</h2>
</div>
</section>
<section>
<div>
<h3>Programador estrella del equipo</h3>
</div>
<div>
<h3>QA y diseñador designado</h3>
</div>
</section>