
<section>
<div class="ultimodiv">
<h2>Tomás Ariel Goldentul</h2>
<p>Programador estrella del equipo</p>
</div>
<div class="ultimodiv">
<h2>Manuel Gartenkrot</h2>
<p>QA y diseñador designado</p>
</div>
</section>