@{
    ViewData["Title"] = "Index";
}

<section>
    <h1>Ahorcado</h1>
</section>
<section>
    <a href='@Url.Action("juego")'alt="">Jugar</a>
</section>
<section>
    <a href='@Url.Action("creditos")'alt="">Créditos</a>
</section>