<section>
<div>

@if(ViewBag.palabraJugada == null){
    foreach(char letra in ViewBag.palabraAdivinar){
        <p style="display: inline; margin-right: 5px;">_</p>     }
}
else{
@foreach (char letra in ViewBag.palabraJugada){
 <p style="display: inline; margin-right: 5px;">@letra</p> 
}
}
</div>
</section>
<section>
<div>

@if (ViewBag.letrasErradas != null){
    int erradas = 0;
foreach (char letraa in ViewBag.letrasErradas){
    <p style="display: inline; margin-right: 5px;">@letraa</p> 
    erradas++;
}
ViewBag.erradas = erradas;
}
else{
    <p>No hay letras erradas</p>
}
</div>
<div>
    <img src="/imagenes/tipito@ViewBag.erradas.png" alt="">
</div>
</section>

<section>
<div>
<form action='@Url.Action("ingresarLetra", "Home")' method="GET">
<input type = "text" name = "letra" placeholder ="ingrese una letra">
<input type = "submit" name = "Guardar">
</form>
</div>
</section>
<section>
<div>
<form action='@Url.Action("ingresarPalabra", "Home")' method="GET">
<input type = "text" name = "palabra" placeholder ="arriesgar palabra">
<input type = "submit" name = "Guardar">
</form>
</div>
</section>






