<section>
<div>
<p>Ganaste</p>
</div>
<div class = "poema">
<p>Entre letras danzantes y un leve temor,
la soga del juego susurra: "ganaste".
Dudé por un hilo, pensé que perdía,
pero el verbo escondido al fin se rendía.
<br>
<br>
Puse la "r", luego la "o",
y la "l" luminosa marcó el acierto.
Intento tras intento, la figura esperó,
mas nunca un muñeco del cielo cayó.
<br>
<br>
Oh letras aliadas, magia sin fin,
hoy fuiste camino, no trampolín.
Y aunque sudaron mis manos de azar,
la palabra secreta logré descifrar.
<br>
<br>
Porque en cada acierto hay un canto leve:
el gozo del juego, el saber que se puede.
Así que afilad vuestras letras también,
que el juego del ahorcado... ¡vencer se bien!</p>
</div>
</section>